APP_NAME=Paladar Inka API
APP_ENV=development
DEBUG=true

API_V1_PREFIX=/api/v1

DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_NAME=paladar_inka
DATABASE_USER=paladar_user
DATABASE_PASSWORD=change_me

CORS_ORIGINS=http://localhost:5173

VITE_API_URL=http://localhost:8000
